@page "/permissions"
@attribute [Authorize(Policy = LibrarianPolicy.NAME)]
@using SelfServiceLibrary.Web.Policies
@using SelfServiceLibrary.Web.ViewModels
@using SelfServiceLibrary.DAL.Enums
@using SelfServiceLibrary.BL.Services
@inject UserService service

<Container Fluid="true">
    <DataGrid TItem="PermissionRow"
              Data="@permissions"
              ShowValidationFeedback="true"
              ShowValidationsSummary="true"
              RowSelectable=@(_ => false)
              Editable="true"
              Responsive="true"
              SortMode="DataGridSortMode.Multiple"
              EditMode="DataGridEditMode.Inline"
              RowInserted="@Save"
              RowUpdated="@Save"
              RowRemoved="@OnRowRemoved"
              ShowPager="true"
              ShowPageSizes="true"
              PagerPosition="DataGridPagerPosition.Bottom">
        <DataGridColumns>
            <DataGridCommandColumn TItem="PermissionRow">
                <NewCommandTemplate>
                    <Button Color="Color.Success" Clicked="@context.Clicked">Add</Button>
                </NewCommandTemplate>
                <EditCommandTemplate>
                    <Button Color="Color.Primary" Clicked="@context.Clicked">Edit</Button>
                </EditCommandTemplate>
                <SaveCommandTemplate>
                    <Button Color="Color.Primary" Clicked="@context.Clicked">Save</Button>
                </SaveCommandTemplate>
                <DeleteCommandTemplate>
                    <Dropdown>
                        <DropdownToggle Color="Color.Danger" ToggleIconVisible="false">
                            Delete
                        </DropdownToggle>
                        <DropdownMenu>
                            <DropdownItem Clicked="@context.Clicked">Yes, I am sure</DropdownItem>
                        </DropdownMenu>
                    </Dropdown>
                </DeleteCommandTemplate>
                <CancelCommandTemplate>
                    <Button Color="Color.Secondary" Clicked="@context.Clicked">Cancel</Button>
                </CancelCommandTemplate>
            </DataGridCommandColumn>
            <DataGridColumn TItem="PermissionRow" Field="@nameof(PermissionRow.Username)" Caption="User" Editable="true" CellsEditableOnEditCommand="false" CellsEditableOnNewCommand="true" />
            <DataGridSelectColumn TItem="PermissionRow" Field="@nameof(PermissionRow.CurrentRole)" Caption="Role" Editable="true">
                <DisplayTemplate>
                    <RadioGroup TValue="Role" Name="@($"roles-{context.Username}-read")" CheckedValue="@context.CurrentRole">
                        <Radio TValue="Role" Value="@(Role.Visitor)" ReadOnly="true" Disabled="true">None (Visitor)</Radio>
                        <Radio TValue="Role" Value="@(Role.KioskUser)" ReadOnly="true" Disabled="true">Kiosk (Only)</Radio>
                        <Radio TValue="Role" Value="@(Role.SelfServiceUser)" ReadOnly="true" Disabled="true">OnLine (+ Kiosk)</Radio>
                    </RadioGroup>
                </DisplayTemplate>
                <EditTemplate>
                    <RadioGroup TValue="Role" Name="@($"roles-{context.Item.Username}")" CheckedValue="@((Role)( context.CellValue ))" CheckedValueChanged="@(( v ) => context.CellValue = v)">
                        <Radio TValue="Role" Value="@(Role.Visitor)">None (Visitor)</Radio>
                        <Radio TValue="Role" Value="@(Role.KioskUser)">Kiosk (Only)</Radio>
                        <Radio TValue="Role" Value="@(Role.SelfServiceUser)">OnLine (+ Kiosk)</Radio>
                    </RadioGroup>
                </EditTemplate>
            </DataGridSelectColumn>
        </DataGridColumns>
        <PopupTitleTemplate>
            @($"{context.LocalizationString} Permission")
        </PopupTitleTemplate>
    </DataGrid>
</Container>

@code {
    [CascadingParameter]
    protected MainLayout? Main { get; set; }

    private List<PermissionRow> permissions = new List<PermissionRow>();

    protected override async Task OnInitializedAsync()
    {
        Main?.ChangeTitle("Permissions for self-service");
        var users = await service.GetAll();
        permissions = users.Select(x => new PermissionRow(x.Username, x.Roles)).ToList();
    }

    private async Task Save(SavedRowItem<PermissionRow, Dictionary<string, object>> e)
    {
        var add = e.Item switch
        {
            { CurrentRole: Role.SelfServiceUser } => new[] { Role.Visitor, Role.KioskUser, Role.SelfServiceUser },
            { CurrentRole: Role.KioskUser } => new[] { Role.Visitor, Role.KioskUser },
            { CurrentRole: Role.Visitor } => new[] { Role.Visitor },
            _ => Array.Empty<Role>()
        };

        var remove = e.Item switch
        {
            { CurrentRole: Role.KioskUser } => new[] { Role.SelfServiceUser },
            { CurrentRole: Role.Visitor } => new[] { Role.KioskUser, Role.SelfServiceUser },
            _ => Array.Empty<Role>()
        };

        foreach (var role in add)
            await service.AddRole(e.Item.Username, role);

        foreach (var role in remove)
            await service.RemoveRole(e.Item.Username, role);
    }

    private async Task OnRowRemoved(PermissionRow model)
    {
        var roles = new[] { Role.Visitor, Role.KioskUser, Role.SelfServiceUser };
        foreach (var role in roles)
        {
            await service.RemoveRole(model.Username, role);
        }
    }
}
