@page "/books/{departmentNumber}"

@using SelfServiceLibrary.BL.DTO.Book
@using SelfServiceLibrary.BL.DTO.Issue
@using SelfServiceLibrary.BL.Interfaces
@using SelfServiceLibrary.BL.Services
@using Microsoft.AspNetCore.Components.Authorization
@using SelfServiceLibrary.Web.Policies
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject BookService bookService
@inject IssueService issueService
@inject IMapper mapper

<Bar Breakpoint="Breakpoint.Desktop"
     Background="Background.Light"
     ThemeContrast="ThemeContrast.Light">
    <BarBrand>
        Book detail
    </BarBrand>
</Bar>

<Container Fluid="true">
    @if (book != null)
    {
        <Row>
            <Column ColumnSize="ColumnSize.IsFull.OnTablet.Is6.OnDesktop">
                <h1>Publication ID: <b>@DepartmentNumber</b></h1>
            </Column>
            <Column ColumnSize="ColumnSize.IsFull.OnTablet.Is6.OnDesktop" class="text-right">
                <h2>IntStatus: <b>@book.StatusName</b></h2>
            </Column>
        </Row>


        <AuthorizeView>
            <Divider />
            <div class="float-right">
                <Button Disabled="@(!book.IsAvailable || !book.StatusCanBeBorrowed)" Color="Color.Success" Clicked="Borrow">Borrow</Button>
                <Button Disabled="@(book.IsAvailable || context.User.Identity.Name != book.CurrentIssueIssuedTo)" Color="Color.Primary" Clicked="Return">Return</Button>
            </div>
        </AuthorizeView>

        <AuthorizeView Policy="@LibrarianPolicy.NAME">
            <Button Disabled="@(edit)" Clicked="@(() => edit = true)" Color="Color.Primary">Edit</Button>
            <Button Disabled="@(!edit)" Clicked="Update" Color="Color.Success">Save</Button>
            <Button Disabled="@(!edit)" Clicked="Cancel" Color="Color.Dark">Cancel</Button>
        </AuthorizeView>


        <AuthorizeView>
            <Divider />
        </AuthorizeView>

        <Validations @ref="validations" Mode="ValidationMode.Auto" ValidateOnLoad="false" Model="@editBook">
            <Fields>
                <Validation>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.Is4.OnDesktop">
                        <FieldLabel>Publication type</FieldLabel>
                        <TextEdit @bind-Text="@editBook.PublicationType" ReadOnly="isReadonly" list="types">
                            <Feedback>
                                <ValidationError />
                            </Feedback>
                            <ChildContent>
                                <AuthorizeView Policy="@LibrarianPolicy.NAME">
                                    <FieldHelp>Druh publikace</FieldHelp>
                                </AuthorizeView>
                            </ChildContent>
                        </TextEdit>
                        <datalist id="types">
                            @foreach (var type in bookTypes)
                            {
                                <option>@type</option>
                            }
                        </datalist>
                    </Field>
                </Validation>
                <Validation>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.Is4.OnDesktop">
                        <FieldLabel>Form type</FieldLabel>
                        <TextEdit @bind-Text="@editBook.FormType" ReadOnly="isReadonly" list="formTypes">
                            <Feedback>
                                <ValidationError />
                            </Feedback>
                            <ChildContent>
                                <AuthorizeView Policy="@LibrarianPolicy.NAME">
                                    <FieldHelp>Fyzický stav nebo podoba knihy</FieldHelp>
                                </AuthorizeView>
                            </ChildContent>
                        </TextEdit>
                        <datalist id="formTypes">
                            @foreach (var type in formTypes)
                            {
                                <option>@type</option>
                            }
                        </datalist>
                    </Field>
                </Validation>
                <Validation>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.Is4.OnDesktop">
                        <FieldLabel>Depended</FieldLabel>
                        <TextEdit @bind-Text="@editBook.Depended" ReadOnly="isReadonly">
                            <Feedback>
                                <ValidationError />
                            </Feedback>
                            <ChildContent>
                                <AuthorizeView Policy="@LibrarianPolicy.NAME">
                                    <FieldHelp>Dependováno – Fyzická část knihovny, kde je publikace uložena.</FieldHelp>
                                </AuthorizeView>
                            </ChildContent>
                        </TextEdit>
                    </Field>
                </Validation>
            </Fields>

            <Divider />

            <Validation>
                <Field>
                    <FieldLabel>Name</FieldLabel>
                    <TextEdit @bind-Text="@editBook.Name" ReadOnly="isReadonly">
                        <Feedback>
                            <ValidationError />
                        </Feedback>
                        <ChildContent>
                            <AuthorizeView Policy="@LibrarianPolicy.NAME">
                                <FieldHelp>Název knihy</FieldHelp>
                            </AuthorizeView>
                        </ChildContent>
                    </TextEdit>
                </Field>
            </Validation>
            <Fields>
                <Validation>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.Is6.OnDesktop">
                        <FieldLabel>Author</FieldLabel>
                        <TextEdit @bind-Text="@editBook.Author" ReadOnly="isReadonly">
                            <Feedback>
                                <ValidationError />
                            </Feedback>
                            <ChildContent>
                                <AuthorizeView Policy="@LibrarianPolicy.NAME">
                                    <FieldHelp>První / hlavní autor, u sborníku většinou editor</FieldHelp>
                                </AuthorizeView>
                            </ChildContent>
                        </TextEdit>
                    </Field>
                </Validation>

                <!-- TODO CO-AUTHORS-->
            </Fields>

            <!-- TODO KEYWORDS-->

            <Validation>
                <Field>
                    <FieldLabel>Conference</FieldLabel>
                    <TextEdit @bind-Text="@editBook.Conference" ReadOnly="isReadonly">
                        <Feedback>
                            <ValidationError />
                        </Feedback>
                        <ChildContent>
                            <AuthorizeView Policy="@LibrarianPolicy.NAME">
                                <FieldHelp>Konference – Z jaké konference je (sborník)</FieldHelp>
                            </AuthorizeView>
                        </ChildContent>
                    </TextEdit>
                </Field>
            </Validation>
            <Validation>
                <Field>
                    <FieldLabel>Note</FieldLabel>
                    <MemoEdit @bind-Text="@editBook.Note" ReadOnly="isReadonly" Rows="5">
                        <Feedback>
                            <ValidationError />
                        </Feedback>
                        <ChildContent>
                            <AuthorizeView Policy="@LibrarianPolicy.NAME">
                                <FieldHelp>Poznámka</FieldHelp>
                            </AuthorizeView>
                        </ChildContent>
                    </MemoEdit>
                </Field>
            </Validation>

            <Divider />

            <Fields>
                <Validation>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.Is3.OnDesktop">
                        <FieldLabel>Year of publication</FieldLabel>
                        <NumericEdit TValue="int?" @bind-Value="@editBook.YearOfPublication" ReadOnly="isReadonly">
                            <Feedback>
                                <ValidationError />
                            </Feedback>
                            <ChildContent>
                                <AuthorizeView Policy="@LibrarianPolicy.NAME">
                                    <FieldHelp>Rok vydání publikace</FieldHelp>
                                </AuthorizeView>
                            </ChildContent>
                        </NumericEdit>
                    </Field>
                </Validation>
                <Validation>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.Is3.OnDesktop">
                        <FieldLabel>Publication</FieldLabel>
                        <NumericEdit TValue="int?" @bind-Value="@editBook.Publication" ReadOnly="isReadonly">
                            <Feedback>
                                <ValidationError />
                            </Feedback>
                            <ChildContent>
                                <AuthorizeView Policy="@LibrarianPolicy.NAME">
                                    <FieldHelp>Pořadové číslo vydání (verze)</FieldHelp>
                                </AuthorizeView>
                            </ChildContent>
                        </NumericEdit>
                    </Field>
                </Validation>
                <Validation>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.Is3.OnDesktop">
                        <FieldLabel>Pages</FieldLabel>
                        <NumericEdit TValue="int?" @bind-Value="@editBook.Pages" ReadOnly="isReadonly">
                            <Feedback>
                                <ValidationError />
                            </Feedback>
                            <ChildContent>
                                <AuthorizeView Policy="@LibrarianPolicy.NAME">
                                    <FieldHelp>Počet stran</FieldHelp>
                                </AuthorizeView>
                            </ChildContent>
                        </NumericEdit>
                    </Field>
                </Validation>
                <Validation>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.Is3.OnDesktop">
                        <FieldLabel>Price</FieldLabel>
                        <Addons>
                            <Addon AddonType="AddonType.Start">
                                <AddonLabel>CZK</AddonLabel>
                            </Addon>
                            <Addon AddonType="AddonType.Body">
                                <NumericEdit TValue="decimal?" @bind-Value="@editBook.Price" ReadOnly="isReadonly">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>

                                </NumericEdit>
                            </Addon>
                        </Addons>
                        <AuthorizeView Policy="@LibrarianPolicy.NAME">
                            <FieldHelp>Cena v korunách českých</FieldHelp>
                        </AuthorizeView>
                    </Field>
                </Validation>
            </Fields>

            <Fields>
                <Validation>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.Is6.OnDesktop">
                        <FieldLabel>Magazine number</FieldLabel>
                        <TextEdit @bind-Text="@editBook.MagazineNumber" ReadOnly="isReadonly">
                            <Feedback>
                                <ValidationError />
                            </Feedback>
                            <ChildContent>
                                <AuthorizeView Policy="@LibrarianPolicy.NAME">
                                    <FieldHelp>Číslo časopisu</FieldHelp>
                                </AuthorizeView>
                            </ChildContent>
                        </TextEdit>
                    </Field>
                </Validation>
                <Validation>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.Is6.OnDesktop">
                        <FieldLabel>Magazine year</FieldLabel>
                        <NumericEdit TValue="int?" @bind-Value="@editBook.MagazineYear" ReadOnly="isReadonly">
                            <Feedback>
                                <ValidationError />
                            </Feedback>
                            <ChildContent>
                                <AuthorizeView Policy="@LibrarianPolicy.NAME">
                                    <FieldHelp>Ročník časopisu</FieldHelp>
                                </AuthorizeView>
                            </ChildContent>
                        </NumericEdit>
                    </Field>
                </Validation>
            </Fields>

            <Fields>
                <Validation>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.Is4.OnDesktop">
                        <FieldLabel>ISBN/ISSN</FieldLabel>
                        <TextEdit @bind-Text="@editBook.ISBNorISSN" ReadOnly="isReadonly">
                            <Feedback>
                                <ValidationError />
                            </Feedback>
                        </TextEdit>
                    </Field>
                </Validation>
                <Validation>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.Is4.OnDesktop">
                        <FieldLabel>Country of publication</FieldLabel>
                        <TextEdit @bind-Text="@editBook.CountryOfPublication" ReadOnly="isReadonly">
                            <Feedback>
                                <ValidationError />
                            </Feedback>
                            <ChildContent>
                                <AuthorizeView Policy="@LibrarianPolicy.NAME">
                                    <FieldHelp>Země kde byla publikace vydána</FieldHelp>
                                </AuthorizeView>
                            </ChildContent>
                        </TextEdit>
                    </Field>
                </Validation>
                <Validation>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.Is4.OnDesktop">
                        <FieldLabel>Publisher</FieldLabel>
                        <TextEdit @bind-Text="@editBook.Publisher" ReadOnly="isReadonly">
                            <Feedback>
                                <ValidationError />
                            </Feedback>
                            <ChildContent>
                                <AuthorizeView Policy="@LibrarianPolicy.NAME">
                                    <FieldHelp>Kdo publikaci vydal (nakladatel)</FieldHelp>
                                </AuthorizeView>
                            </ChildContent>
                        </TextEdit>
                    </Field>
                </Validation>
            </Fields>

            @if (!book.IsAvailable)
            {
                <AuthorizeView Context="none">
                    <Divider />

                    <Fields>
                        <Field ColumnSize="ColumnSize.IsFull.OnTablet.Is4.OnDesktop">
                            <FieldLabel>Issued to</FieldLabel>
                            <TextEdit @bind-Text="@book.CurrentIssueIssuedTo" ReadOnly="true" />
                            <AuthorizeView Policy="@LibrarianPolicy.NAME">
                                <FieldHelp>Zapůjčeno komu</FieldHelp>
                            </AuthorizeView>
                        </Field>
                        <Field ColumnSize="ColumnSize.IsFull.OnTablet.Is4.OnDesktop">
                            <FieldLabel>Issued since</FieldLabel>
                            <DateEdit TValue="DateTime?" Date="@book.CurrentIssueIssueDate" InputMode="DateInputMode.DateTime" ReadOnly="true" />
                            <AuthorizeView Policy="@LibrarianPolicy.NAME">
                                <FieldHelp>Zapůjčeno od</FieldHelp>
                            </AuthorizeView>
                        </Field>
                        <Field ColumnSize="ColumnSize.IsFull.OnTablet.Is4.OnDesktop">
                            <FieldLabel>Issued till</FieldLabel>
                            <DateEdit TValue="DateTime?" Date="@book.CurrentIssueExpiryDate" InputMode="DateInputMode.DateTime" ReadOnly="true" />
                            <AuthorizeView Policy="@LibrarianPolicy.NAME">
                                <FieldHelp>Zapůjčeno do</FieldHelp>
                            </AuthorizeView>
                        </Field>
                    </Fields>
                </AuthorizeView>
            }

            <AuthorizeView Policy="@LibrarianPolicy.NAME">
                <Divider />

                <Fields>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.Is3.OnDesktop">
                        <FieldLabel>Department number</FieldLabel>
                        <TextEdit @bind-Text="@book.DepartmentNumber" ReadOnly="true">
                            <Feedback>
                                <ValidationError />
                            </Feedback>
                            <ChildContent>
                                <FieldHelp>Evidenční číslo oddělení</FieldHelp>
                            </ChildContent>
                        </TextEdit>
                    </Field>

                    <Validation>
                        <Field ColumnSize="ColumnSize.IsFull.OnTablet.Is3.OnDesktop">
                            <FieldLabel>System number</FieldLabel>
                            <TextEdit @bind-Text="@editBook.SystemNumber" ReadOnly="isReadonly">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                                <ChildContent>
                                    <FieldHelp>Systémové číslo</FieldHelp>
                                </ChildContent>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation>
                        <Field ColumnSize="ColumnSize.IsFull.OnTablet.Is3.OnDesktop">
                            <FieldLabel>FEL number</FieldLabel>
                            <TextEdit @bind-Text="@editBook.FelNumber" ReadOnly="isReadonly">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                                <ChildContent>
                                    <FieldHelp>Evidenční číslo FEL</FieldHelp>
                                </ChildContent>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation>
                        <Field ColumnSize="ColumnSize.IsFull.OnTablet.Is3.OnDesktop">
                            <FieldLabel>Bar code</FieldLabel>
                            <TextEdit @bind-Text="@editBook.BarCode" ReadOnly="isReadonly">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                                <ChildContent>
                                    <FieldHelp>Čárový kód</FieldHelp>
                                </ChildContent>
                            </TextEdit>
                        </Field>
                    </Validation>
                </Fields>

                <Divider />
                <Fields>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.Is6.OnDesktop">
                        <FieldLabel>Entered at</FieldLabel>
                        <DateEdit TValue="DateTime?" Date="@book.Entered" InputMode="DateInputMode.DateTime" ReadOnly="true" />
                        <FieldHelp>Vloženo</FieldHelp>
                    </Field>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.Is6.OnDesktop">
                        <FieldLabel>Entered by</FieldLabel>
                        <TextEdit Text="@book.EnteredBy" ReadOnly="true" />
                        <FieldHelp>Vloženo kým</FieldHelp>
                    </Field>
                </Fields>
                <Fields>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.Is6.OnDesktop">
                        <Check TValue="bool" @bind-Checked="@editBook.StsLocal" ReadOnly="isReadonly" Disabled="isReadonly">StsCheck</Check>
                    </Field>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.Is6.OnDesktop">
                        <Check TValue="bool" @bind-Checked="@editBook.StsUK" ReadOnly="isReadonly" Disabled="isReadonly">StsUK</Check>
                    </Field>
                </Fields>
                <Fields>
                    <Validation>
                        <Field ColumnSize="ColumnSize.IsFull.OnTablet.Is6.OnDesktop">
                            <FieldLabel>NFC code</FieldLabel>
                            <TextEdit @bind-Text="@editBook.NFCIdent" ReadOnly="isReadonly">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation>
                        <Field ColumnSize="ColumnSize.IsFull.OnTablet.Is6.OnDesktop">
                            <FieldLabel>QR code</FieldLabel>
                            <TextEdit @bind-Text="@editBook.NFCIdent" ReadOnly="isReadonly">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                </Fields>

                <Divider />
                <h3>History</h3>

                <DataGrid RowSelectable=@(_ => false)
                          TItem="IssueListlDTO"
                          Data="@issues"
                          ShowPager="true"
                          PagerPosition="DataGridPagerPosition.Top"
                          PageSize="10">
                    <DataGridColumn TItem="IssueListlDTO" Field="@nameof(IssueListlDTO.IssuedTo)" Caption="Issued to" Sortable="true" />
                    <DataGridDateColumn TItem="IssueListlDTO" Field="@nameof(IssueListlDTO.IssueDate)" DisplayFormat="{0:dd.MM.yyyy}" Caption="Issue date" Sortable="true" />
                    <DataGridDateColumn TItem="IssueListlDTO" Field="@nameof(IssueListlDTO.ExpiryDate)" DisplayFormat="{0:dd.MM.yyyy}" Caption="Expiry date" Sortable="true" />
                    <DataGridDateColumn TItem="IssueListlDTO" Field="@nameof(IssueListlDTO.ReturnDate)" DisplayFormat="{0:dd.MM.yyyy}" Caption="Return date" Sortable="true" />
                </DataGrid>
            </AuthorizeView>
        </Validations>
    }
    else
    {
        <div>
            Book not found
        </div>
    }
</Container>


<SnackbarStack @ref="snackbarStack" Location="SnackbarStackLocation.Right" />


@code {
    SnackbarStack snackbarStack;
    Validations validations;
    private bool edit = false;
    private bool isReadonly => !edit;
    private BookDetailDTO book = new BookDetailDTO();
    private BookEditDTO editBook = new BookEditDTO();
    private List<IssueListlDTO> issues = new List<IssueListlDTO>();
    private List<string> bookTypes = new List<string>();
    private List<string> formTypes = new List<string>();

    [Parameter]
    public string DepartmentNumber { get; set; }

    protected override async Task OnInitializedAsync()
    {
        formTypes = (await bookService.GetFormTypes()).OrderByDescending(x => x.Value).Select(x => x.Key).ToList();
        bookTypes = (await bookService.GetPublicationTypes()).OrderByDescending(x => x.Value).Select(x => x.Key).ToList();
        book = await bookService.GetDetail(DepartmentNumber);
        if (book != null)
        {
            editBook = mapper.Map<BookEditDTO>(book);
            issues = await issueService.GetAll(book);
        }
    }

    private async Task Borrow()
    {
        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var result = await issueService.Borrow(state.User.Identity.Name, new IssueCreateDTO
        {
            DepartmentNumber = book.DepartmentNumber,
            ExpiryDate = DateTime.UtcNow.AddDays(30)
        });

        await result.Match(
            async ok =>
            {
                book = await bookService.GetDetail(DepartmentNumber);
                issues = await issueService.GetAll(book);
                await snackbarStack.PushAsync("Borrowed.", SnackbarColor.Success);
            },
            notFound => snackbarStack.PushAsync("The book was not found.", SnackbarColor.Danger),
            alreadyBorrowed => snackbarStack.PushAsync("The book has already been borrowed.", SnackbarColor.Danger)
            );
    }

    private async Task Return()
    {
        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (state.User.Identity.Name == book.CurrentIssueIssuedTo)
        {
            var result = await issueService.Return(book.CurrentIssueId);
            await result.Match(
                    async ok =>
                    {
                        book = await bookService.GetDetail(DepartmentNumber);
                        issues = await issueService.GetAll(book);
                        await snackbarStack.PushAsync("Book returned.", SnackbarColor.Success);
                    },
                    notFound => snackbarStack.PushAsync("The book was not found.", SnackbarColor.Danger),
                    alreadyBorrowed => snackbarStack.PushAsync("The book has already been returned.", SnackbarColor.Danger)
                );
        }
    }

    private async Task Update()
    {
        if (validations.ValidateAll())
        {
            await bookService.Update(book.DepartmentNumber, editBook);
            book = await bookService.GetDetail(DepartmentNumber);
            editBook = mapper.Map<BookEditDTO>(book);
            edit = false;
            validations.ClearAll();
        }
    }

    private void Cancel()
    {
        validations.ClearAll();
        editBook = mapper.Map<BookEditDTO>(book);
        edit = false;
    }
}