@page "/search"
@using SelfServiceLibrary.Service.Services
@using SelfServiceLibrary.Service.DTO.Book
@inject BookService bookService

<Bar Breakpoint="Breakpoint.Desktop"
     Background="Background.Light"
     ThemeContrast="ThemeContrast.Light">
    <BarBrand>
        Search
    </BarBrand>
    <BarToggler />
    <BarMenu>
        <BarStart>
            <BarItem>
                <Addons Margin="Margin.Is3.OnX.OnTablet">
                    <Addon AddonType="AddonType.Body">
                        <TextEdit Placeholder="Algebra..." 
                                  Text="@search" 
                                  TextChanged="@OnSearchChanged"
                                  ChangeTextOnKeyPress="false"
                                  DelayTextOnKeyPress="true"
                                  DelayTextOnKeyPressInterval="300" />
                    </Addon>
                    <Addon AddonType="AddonType.End">
                        <Button Color="Color.Primary" Clicked="@Fulltext">Search</Button>
                    </Addon>
                </Addons>
            </BarItem>
        </BarStart>
    </BarMenu>
</Bar>

<Container Fluid="true">
    <Tabs SelectedTab="@selectedTab"
          SelectedTabChanged="@OnSelectedTabChanged">
        <Items>
            @foreach (var (type, items) in searchResults.Select(x => (x.Key, x.Value)).OrderByDescending(x => x.Value.Count))
            {
                <Tab Name="@type">@type <Badge Color="Color.Primary">@items.Count</Badge></Tab>
            }
        </Items>
        <Content>
            @foreach (var (type, items) in searchResults.Select(x => (x.Key, x.Value)).OrderByDescending(x => x.Value.Count))
            {
                <TabPanel Name="@type">
                    <DataGrid RowSelectable=@(_ => false)
                              TItem="BookSearchDTO"
                              Data="@items"
                              ShowPager="true"
                              PagerPosition="DataGridPagerPosition.Bottom"
                              PageSize="10">
                        <DataGridColumn TItem="BookSearchDTO" Field="@nameof(BookSearchDTO.DepartmentNumber)" Caption="#" Sortable="false" />
                        <DataGridColumn TItem="BookSearchDTO" Field="@nameof(BookSearchDTO.Name)" Caption="Name" Sortable="true" />
                        <DataGridColumn TItem="BookSearchDTO" Field="@nameof(BookSearchDTO.Author)" Caption="Author" Sortable="true" />
                        <DataGridColumn TItem="BookSearchDTO" Field="@nameof(BookSearchDTO.Author)" Caption="Keywords" Sortable="false">
                            <DisplayTemplate>
                                @foreach (var keyword in context.Keywords)
                                {
                                    <Badge Color="Color.Info" Margin="Margin.Is1">@keyword</Badge>
                                }
                            </DisplayTemplate>
                        </DataGridColumn>
                        <DataGridDateColumn TItem="BookSearchDTO" Field="@nameof(BookSearchDTO.Entered)" DisplayFormat="{0:dd.MM.yyyy}" Caption="Entered" Sortable="true" />
                        <DataGridCheckColumn TItem="BookSearchDTO" Field="@nameof(BookSearchDTO.IsAvailable)" Caption="Available" Sortable="true">
                            <DisplayTemplate>
                                <Check TValue="bool" Checked="context.IsAvailable" Disabled="true" ReadOnly="true" />
                            </DisplayTemplate>
                        </DataGridCheckColumn>
                    </DataGrid>
                </TabPanel>
            }
        </Content>
    </Tabs>
    
</Container>
@code{
    private string selectedTab;
    private string search;

    private IDictionary<string, List<BookSearchDTO>> searchResults = new Dictionary<string, List<BookSearchDTO>>();

    private void OnSelectedTabChanged(string name)
    {
        selectedTab = name;
        StateHasChanged();
    }

    private void OnSearchChanged(string value)
    {
        search = value;
    }

    private async Task Fulltext()
    {
        var result = string.IsNullOrEmpty(search)
            ? new List<BookSearchDTO>()
            : await bookService.Fulltext(search);

        if (result.Any())
        {
            searchResults = result.GroupBy(x => x.PublicationType).ToDictionary(x => x.Key, x => x.ToList());
            selectedTab = searchResults.OrderByDescending(x => x.Value.Count).FirstOrDefault().Key;
        }
        else
        {
            searchResults?.Clear();
            selectedTab = null;
        }
    }
}
