@page "/search"
@using SelfServiceLibrary.Web.Attributes
@using SelfServiceLibrary.Web.Extensions
@using SelfServiceLibrary.Web.Filters
@using SelfServiceLibrary.BL.Services
@using SelfServiceLibrary.BL.DTO.Book
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider authenticationStateProvider
@inject IJSRuntime jsRuntime
@inject NavigationManager uriHelper
@inject BookService bookService

<Container Fluid="true">
    <Form @onsubmit=Fulltext Margin="Margin.Is4.OnY">
        <Addons>
            <Addon AddonType="AddonType.Body">
                <TextEdit Placeholder="Algebra genetics algorithm"
                          Role="TextRole.Search"
                          Text="@Query" TextChanged="QueryChanged" />
            </Addon>
            <Addon AddonType="AddonType.End">
                <Button Color="Color.Primary" Type="ButtonType.Submit"><Icon Name="IconName.Search" /></Button>
            </Addon>
        </Addons>
    </Form>

    <BadgedTabs Tabs="@tabs.ToList()"
                TabCounts="@searchResults.ToDictionary(x => x.Key, x => x.Value.Count)"
                SelectedTab="@SelectedTab"
                SelectedTabChanged="OnSelectedTabChanged" />

    @if (!string.IsNullOrEmpty(SelectedTab) && searchResults.ContainsKey(SelectedTab))
    {
        <DataGrid RowSelectable=@(_ => false)
                  TItem="BookSearchDTO"
                  Data="@searchResults[SelectedTab]"
                  ShowPager="true"
                  ShowPageSizes="true"
                  PageSize="PageSize"
                  PageSizeChanged="PageSizeChanged"
                  CurrentPage="Page"
                  PageChanged="PageChanged"
                  PagerPosition="DataGridPagerPosition.Bottom">
            <DataGridColumn TItem="BookSearchDTO" Field="@nameof(BookSearchDTO.DepartmentNumber)" Caption="#" Sortable="false">
                <DisplayTemplate>
                    <a href="@($"books/{context.DepartmentNumber}")">@context.DepartmentNumber</a>
                </DisplayTemplate>
            </DataGridColumn>
            <DataGridColumn TItem="BookSearchDTO" Field="@nameof(BookSearchDTO.Name)" Caption="Name" Sortable="true" />
            <DataGridColumn TItem="BookSearchDTO" Field="@nameof(BookSearchDTO.Author)" Caption="Author" Sortable="true" />
            <DataGridColumn TItem="BookSearchDTO" Field="@nameof(BookSearchDTO.Keywords)" Caption="Keywords" Sortable="false">
                <DisplayTemplate>
                    <Keywords Words="context.Keywords" />
                </DisplayTemplate>
            </DataGridColumn>
            <DataGridCheckColumn TItem="BookSearchDTO" Field="@nameof(BookSearchDTO.IsAvailable)" Caption="Available" Sortable="true">
                <DisplayTemplate>
                    <Check TValue="bool" Checked="context.IsAvailable" Disabled="true" ReadOnly="true" />
                </DisplayTemplate>
            </DataGridCheckColumn>
        </DataGrid>
    }
    else if (false)
    {
        // Nothing found
    }
    else
    {
        // initial state
    }
</Container>

<style>
    th {
        background: white;
        position: sticky;
        top: 0; /* Don't forget this, required for the stickiness */
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
        z-index: 10
    }
</style>

@code{
    private const string AllTab = "All";

    private DataGrid<BookListDTO> dataGrid = new DataGrid<BookListDTO>();

    private BooksFilter filter = new BooksFilter(AllTab);
    private IDictionary<string, List<BookSearchDTO>> searchResults = new Dictionary<string, List<BookSearchDTO>>
{
        {AllTab, new List<BookSearchDTO>()}
    };
    private IEnumerable<string> tabs => searchResults
        .Where(x => x.Key != AllTab)
        .OrderByDescending(x => x.Value.Count)
        .ThenBy(x => x.Key)
        .Select(x => x.Key)
        .Prepend(AllTab);

    [CascadingParameter]
    protected MainLayout? Main { get; set; }

    [QueryStringParameter]
    public string? Query { get; set; }

    [QueryStringParameter]
    public string? SelectedTab { get; set; }

    [QueryStringParameter]
    public int Page { get; set; } = 1;

    [QueryStringParameter]
    public int PageSize { get; set; } = 5;

    protected override async Task OnInitializedAsync()
    {
        var state = await authenticationStateProvider.GetAuthenticationStateAsync();
        filter.UserRoles = state.User.Claims.GetRoles();

        var types = await bookService.GetPublicationTypes(filter with { PublicationType = null });
        searchResults = types.ToDictionary(x => x.Key, _ => new List<BookSearchDTO>());
        searchResults[AllTab] = new List<BookSearchDTO>();
        Main?.ChangeTitle("Search");

        if (string.IsNullOrEmpty(SelectedTab))
            SelectedTab = AllTab;
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        this.SetParametersFromQueryString(uriHelper);
        await base.SetParametersAsync(parameters);
        await Fulltext();
    }

    private ValueTask UpdateQuery()
    {
        return this.UpdateQueryString(uriHelper, jsRuntime);
    }

    private async Task QueryChanged(string value)
    {
        Query = value;
        await UpdateQuery();
    }

    private async Task OnSelectedTabChanged(string name)
    {
        SelectedTab = name;
        await UpdateQuery();
        await dataGrid.Reload();
    }

    private async Task PageSizeChanged(int value)
    {
        PageSize = value;
        await UpdateQuery();
    }

    private async Task PageChanged(DataGridPageChangedEventArgs args)
    {
        Page = args.Page;
        await UpdateQuery();
    }

    private async Task Fulltext()
    {
        // search in all categories
        var result = string.IsNullOrEmpty(Query)
            ? new List<BookSearchDTO>()
            : await bookService.Fulltext(Query);

        var previousTab = SelectedTab;
        SelectedTab = AllTab;

        var lookup = result
            .Where(x => !string.IsNullOrEmpty(x.PublicationType))
            .ToLookup(x => x.PublicationType!)
            .ToDictionary(x => x.Key, x => x.ToList());

        foreach (var tab in searchResults)
        {
            if (lookup.TryGetValue(tab.Key, out var data))
            {
                // results found in a publication type
                searchResults[tab.Key] = data;
            }
            else
            {
                // no results in a publication type
                searchResults[tab.Key] = new List<BookSearchDTO>();
            }
        }

        searchResults[AllTab] = result;
        StateHasChanged();

        // HACK force active tab reselection, their order might change due to sorting based on found items
        SelectedTab = previousTab;
        StateHasChanged();
    }
}
